/*

selector (elemer){ (alt-gr+7)
*/

.artikel{
    background-color: grey;

    
}
h1{
    font-size: 100px;
    font-family: 'Roboto', Verdana;
    color:rgb(17, 0, 255);
    background:rgb(255, 234, 0);
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    font-size: 100%;
}
h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}
h3{
    font-size: 80px;
    color:rgb(0, 0, 0);
    background:rgb(38, 255, 0);
    background-image: url();
}
ul{
    font-size: 50px;
    background-image: url();
}
.sidfot{
    
    background-repeat: no-repeat ;
    text-align: center;
}